*{
    margin: 0;
}
header{
    width:100%;
    background-color: blue;
    height: 200px;
}
aside{
    height:100vh;
    background-color: red;
    width: 20%;
    float:left;
}
article{
    background-color: yellow;
    height: 100vh;
    float: left;
    width: 80%;
}
