body {
    Background: #ffffff;
    display: inline;
    text-align: center
}
.container{
    width: 80%;
    margin: 0;
}
.header{
    background: blue;
}
li{
   float: left 
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    list-style-type: none;
}

    