body {
    Background: #ffffff;
    display: inline;
    text-align: center
}
.container{
    width: 80%;
    margin: 0;
}
.header{
    background: blue;
}
#menu ul li{
   float: left;
   text-decoration: none;
   list-style-type: none;
}
#menu ul li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
}

    