
.box {
    width:300px;
    background-color:lightblue;
    border: solid 3px darkblue;
    padding:10px;
    margin:10px;

}

.container{
    display: flex;
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
}

.left-box{
    direction: rtl;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Safari */
    transform: rotate(-10deg);
    
}
.right-box{
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Safari */
    transform: rotate(10deg);
}
 